/* EDnotSheeran@Calculadora */
@charset "UTF-8";
@font-face{
    font-family: 'Apple';
    src: url(src/font_apple.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Apple','Open Sans';
}
html,body{
    height: 100%;
    background-color: #000000;
}
/* caculadora */
#calculadora{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* visor */
#visor{
    margin-top: 50px;
    width: 100%;
    max-width: 400px;
    font-size: 80px;
    text-align: end;
    line-height: 100%;
    border: none;
    background-color: transparent;
    color: #f5f5f5;
}
/* visor ao ser selecionado*/
#visor:focus{
    outline: none;
}
/* container de botoes*/
#botoes{
    display: grid;
    grid-template-columns: repeat(4,100px);
    margin-top: 5px;
}
/* botao */
[class*=botao]{
    margin: 5px;
    width: 90px;
    height: 90px;

    border: none;
    border-radius: 50px;
    font-size: 30px;
    text-transform: uppercase;
    background-color: #333333;
    color: #f5f5f5;
}
/* botao largo */
[class*=-largo]{
    width: 190px;
    grid-column: span 2 / auto;
}
/* botao cinza */
[class*=-cinza]{
    background-color: #a6a6a6;
    color: #000000;
}
/* botao laranja */
[class*=-laranja]{
    background-color: #ff9500;
}
[class*=-col1]{
    grid-column: 1;
}
[class*=-col2]{
    grid-column: 2;
}
[class*=-col3]{
    grid-column: 3;
}
[class*=-col4]{
    grid-column: 4;
}
/* Iphone 6*/
@media screen and (max-width:375px){
    #botoes{
        grid-template-columns: repeat(4,90px);
    }
    [class*=botao]{
        width: 80px;
        height: 80px;
    }
    [class*=-largo]{
        width: 170px;
    }
}
/* Iphone 5*/
@media screen and (max-width:320px){
    #botoes{
        grid-template-columns: repeat(4,80px);
    }
    [class*=botao]{
        width: 70px;
        height: 70px;
    }
    [class*=-largo]{
        width: 150px;
    }
}