/* EDnotSheeran@Calculadora */
@charset "UTF-8";
@font-face{
    font-family: 'Apple';
    src: url(src/font_apple.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Apple','Open Sans';
}
html,body{
    height: 100%;
    background-color: #000000;
}
/* caculadora */
#calculadora{
    height: 100%;
}
/* visor */
#visor{
    width: 100%;

    background-color: transparent;
    font-size: 50px;
    color: #f5f5f5;
    /* border: none; */

    text-align: end;
    line-height: 100%;
}
#visor:focus{
    outline: none;
}
/* botao */
[class*=botao]{
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 50px;
    font-size: 30px;
    background-color: #333333;
    color: #f5f5f5;
}
[class*=-largo]{
    width: 200px;
}
/* botao cinza */
[class*=-cinza]{
    background-color: #a6a6a6;
    color: #000000;
}
/* botao laranja */
[class*=-laranja]{
    background-color: #ff9500;
}


